
// Variables
@import "variables";
//@import "./../css/select2.min";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}
